body{

font-family:Arial;

background:#f0f2f5;

text-align:center;

}

.container{

background:white;

width:700px;

margin:auto;

padding:30px;

margin-top:50px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}

canvas{

border:2px solid black;

margin-top:20px;

}

button{

background:#007bff;

color:white;

border:none;

padding:10px 20px;

margin:5px;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#0056b3;

}

.arbutton{

background:#28a745;

}